.header__navbar-link {
  color: #cdcdcd;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-decoration-line: none;
  margin-right: 35px;
  cursor: default;
}

.header__navbar-link:hover {
  cursor: pointer;
}

.header__navbar-link:last-child {
  margin-right: 0;
}
